
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

<div class="box bordered">
  <div class="box-header">
    <i class="icon-question-sign"></i> FAQ
  </div>
  <div class="row-fluid">
    <div class="span8">
      <div class="padded">
 
        <ol class="faq-list">
          <% collection_select(:faq, :subjects, Assunto.all, :subject, :subject, :prompt => "Todos", :id => "subjects") 
        %>
          <% @faqs.each do |faq| %>
          <li>
            <h4 id="faq-question-1">
				(<%= link_to faq.assunto.subject, "#", onclick: "filtrar_assunto('#{faq.subject.subject}')" %>) <%= faq.pergunta %>
			</h4>
            <p><%= simple_format(faq.resposta).html_safe %><p>
          </li>
          <% end %>
        </ol>
		<%= link_to "Voltar a todas as FAQs", nil, :class => "btn light-blue inverse" if not params[:assunto].nil? %>
      </div>
    </div>

     </div>
    </div>
    </div>
   </div>
  </div>

<script>
 

$("#faq_subjects").change(function() {
  alert("dadsa");
        var val;

        //val = this.val();
        //alert($(this).val());
        val = $(this).val();
        //alert(val);
        $("#faq-search").text(val);
        // if (val.length > 0) {
        //   return $("li").each(function(index, li) {
        //     var pattern;

        //     el = $(li);
        //     pattern = new RegExp(val, 'i');
        //     if (!pattern.test(el.text())) {
        //       el.hide();
        //       return $(Faq.tocLinks[index]).hide();
        //     } else {
        //       el.show();
        //       return $(Faq.tocLinks[index]).show();
        //     }
        //   });
        // } else {
        //   Faq.questionList.each(function() {
        //     return $(this).show();
        //   });
        //   return Faq.tocLinks.each(function() {
        //     return $(this).show();
        //   });
        // }
      })
 
</script>